**Question**

Which topic was most discussed on 15th Jan 2023 and what was the question?

In [1]:
from dataprep.connector import connect
import datetime

access_token = 'k2Xs7Y3PiAyLavEnBm76rg))'
key = "RcpYF1iaC73L1h4MleRkAQ(("

dc = connect('./config', _concurrency=20)

NumExpr defaulting to 8 threads.

In [3]:


# Config is the folder which contains all the JSON files
# Connection request along with supplyin the access key


start_date_epoch = datetime.datetime(2023, 1, 15, 0, 0, 0).strftime('%s')
end_date_epoch = datetime.datetime(2023, 1, 16, 0, 0, 0).strftime('%s')

print(start_date_epoch)
print(end_date_epoch)

df = await dc.query('comments', _count=1000000, _auth={'access_token': access_token}, site='stackoverflow', key=key, sort='votes', fromdate=start_date_epoch, todate=end_date_epoch)
df.shape[0]
df
# df['most_discussed'] = df["view_count"] + df["answer_count"] + df["score"]

# for index, row in df.iterrows():
#     df['most_discussed'] = df["most_discussed"] + get_answer_count(df['question_id'])

# df = await dc.query('comments', _count=1000, _auth={'access_token': access_token}, site='stackoverflow', key=key, order ='desc', sort='votes', fromdate=start_date_epoch, todate=end_date_epoch)
# df.shape[0]

1673769600
1673856000

        post_id  score  comment_id  creation_date
0      75124019     11   132569446     1673774105
1      75125929     10   132572581     1673794065
2      75130011     10   132579902     1673839993
3      75127458      8   132575137     1673807596
4      75128112      7   132576356     1673814007
...         ...    ...         ...            ...
10706  29103053      0   132579600     1673836877
10707  75078910      0   132579601     1673836879
10708  75129747      0   132579602     1673836912
10709  75129136      0   132579603     1673836919
10710  75129599      0   132579408     1673834824

[10711 rows x 4 columns]

In [4]:
df_new = df.groupby(['post_id'])['post_id'].count() \
                             .reset_index(name='count') \
                             .sort_values(['count'], ascending=False)
df_new

       post_id  count
3438  75125270     23
4481  75128186     20
4854  75129200     19
3319  75124916     18
4095  75127160     16
...        ...    ...
1811  75110887      1
1810  75110852      1
1809  75110754      1
1808  75110719      1
2737  75122994      1

[5475 rows x 2 columns]

In [5]:
df_new.iloc[0]['post_id']

75125270

In [6]:

df = await dc.query('search', _count=1, _auth={'access_token': access_token}, q='inquestion:'+str(df_new.iloc[0]['post_id']) ,site='stackoverflow', key=key, order ='desc', sort='votes')

In [33]:
tags = ', '.join(df.iloc[0][ "tags"])
title = df.iloc[0][ "title"]
print("The most discussed topics on 15th Jan 2023 are ["+tags+ "] and the question was "+title)

The most discussed topics on 15th Jan 2023 are c++, constructor, move, copy-constructor, move-constructor and the question was Can you design a constructor to allow `Class c(std::move(another_class))` when the class has a member of type const std::unique_ptr?